[submodule "andengine"]
	path = andengine
	url = https://github.com/nicolasgramlich/AndEngine.git
[submodule "andenginePhysicsBox2dExtension"]
	path = andenginePhysicsBox2dExtension
	url = https://github.com/nicolasgramlich/AndEnginePhysicsBox2DExtension.git
